/* You can add global styles to this file, and also import other style files */
.zone {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  font-family: Verdana;
  background: forestgreen;
  &.noop {
    background: indianred;
  }
}

.panel {
  position: absolute;
  right: 20px;
  top: 40px;

  button {
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-family: Verdana;
    background: #ccc;
  }
  &.zone-less {

  }

}

.page {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 25%;
  padding: 10px;
}
.content {
  width: 75%;
  padding: 10px;
}

.top-menu {
  display: flex;
  flex-direction: column;
}
